.songs--list__lightMode {
    background: #ececec;
    box-shadow:  5px 5px 10px #a3a3a3, -5px -5px 10px #ffffff;
}

.list--container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.MuiDrawer-paper {
    background: #ececec !important;
}

.songs--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 15px;
    border-radius: 5px;
    padding: 10px;
}

.songs--container__heading {
    width: 100%;
    min-height: 4rem;
    border-radius: 20px;

    text-align: center;
    vertical-align: middle;
    line-height: 4rem;

    font-weight: 500;
    font-size: 1.3rem;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.songs--list__container {
    margin-top: 10px;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    /*max-height: calc(100vh - 20vh);*/

    cursor: pointer;
}

.songs--container__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    color: black
}

.songs--container--selected {
    background: #ececec;
    box-shadow:  inset 5px 5px 10px #a3a3a3, -5px -5px 10px #ffffff;
}

.songs--container__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
}

.songs--container__button {
    border:none;
    outline: none;

    border-radius: 20px;
}

.songs--list__container::-webkit-scrollbar {
    width: 1em;
}

.songs--list__container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.songs--list__container::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid #ececec;
}