.menu--container { 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.makeStyles-paper-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.landscape--musicBtn {
    display: none;
}

@media only screen and (orientation: portrait) and (max-width: 1023px) {
    .makeStyles-paper-2 {
        height: calc(100vh - 6.2rem) !important;
    }

    .MuiDrawer-paperAnchorTop {
        max-height: 70% !important;
    }
}

.landscape--listBtn, .landscape--menuBtn, .landscape--musicBtn, .landscape--searchBtn {
    display: none;
}

@media only screen and (orientation: landscape) and (max-width: 1023px) {
    .makeStyles-paper-2 {
        height: calc(100vh - 2.9rem) !important;
    }

    .landscape--musicBtn {
        display: flex;
        justify-content: center;
        position: fixed;
        top: 1px;
        left: 50%;
        z-index: 1200;
        width: 1.8rem;
        height: 1.8rem;
        margin: 10px;
        
        border-radius: 20px;
        background: #ececec;
        box-shadow:  5px 5px 10px #a3a3a3, 
                    -5px -5px 10px #ffffff;
    }

    .landscape--listBtn {
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 1200;
        width: 1.8rem;
        height: 1.8rem;
        margin: 10px;
        
        border-radius: 20px;
        background: #ececec;
        box-shadow:  5px 5px 10px #a3a3a3, 
                    -5px -5px 10px #ffffff;

    }

    .landscape--menuBtn {
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 1200;
        width: 1.8rem;
        height: 1.8rem;
        margin: 10px;
        
        border-radius: 20px;
        background: #ececec;
        box-shadow:  5px 5px 10px #a3a3a3, 
                    -5px -5px 10px #ffffff;
    }

    .landscape--searchBtn {
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 0;
        left: 50%;
        z-index: 1200;
        width: 1.8rem;
        height: 1.8rem;
        margin: 10px;
        
        border-radius: 20px;
        background: #ececec;
        box-shadow:  5px 5px 10px #a3a3a3, 
                    -5px -5px 10px #ffffff;
    }

    .MuiDrawer-paperAnchorBottom {
        top: 70% !important;
    }
}

@media only screen and (orientation: landscape) and (max-height: 540px) and (max-width: 850px) {
    .landscape--search, .landscape--player {
        display: none;
    }
}

@media only screen and (max-width: 1023px) {
    .menu--list {
        display: none;
    }

    .songs--list {
        display: none;
    }

    .menu--container {
        display: flex;
        flex-grow: 1;
        height: 100%;
    }

    .MuiGrid-grid-xs-6 {
        min-width: 100% !important;
    }

    .jss2{
        height: 100% !important;
    }
}