.Search{
    display: flex;
    justify-content: center;
    width: 100%;
}

@media (max-width: 480px){
    .Search input{
        width: 120px;
    }

    .Search button {
        width: 30px;
    }
}
  