.navbar{
    position: fixed;
    width: 100%;
    background: linear-gradient(#00c9ff, #92fe9d);
    background: -webkit-linear-gradient(to right, #00c9ff, #92fe9d);
    background: linear-gradient(to right,#00c9ff, #92fe9d);
}

.navbar__navigation{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    padding: 0 1rem;
}

.navbar__logo{
    margin-left: 1rem;
    color: white;
    font-size: 1.5rem;
}

.navbar_navigation-items {
    margin: 0 auto;
    padding: 0;
}

/*@media (max-width: 768px){
    .navbar {
        bottom: 0;
    }

    .navbar_navigation-items{
        display: flex;
    }

    .navbar__logo{
        display: none;
    }
}

@media (min-width: 760px){
    .navbar {
        bottom: 0
    }
    .navbarToggleButton{
        display: flex;
    }

    .navbar__logo{
        margin-left: 0;
        
    }
}*/

@media only screen and (max-width: 1024px){
    .navbar {
        bottom: 0;
    }
    .navbarToggleButton{
        display: flex;
    }

    .navbar__logo{
        display: none;
    }
}

@media only screen and (min-width: 1025px){
    .navbar {
        top: 0
    }
    .navbarToggleButton{
        display: none;
    }

    .navbar__logo{
        margin-left: 0;
    }
}