.List{
    margin: 0 auto;
    max-height: 29.5em;
    box-sizing: border-box;
    overflow-y: scroll;
}

.current:hover{
    transition: 0.3s;
    border: 1px solid orange;
    box-shadow: rgba(53, 52, 52, 0.2);
}