.input { 
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-top: 1.3rem;
}

.MuiDrawer-paper {
    background: #ececec !important;
}

@media only screen and (max-width: 1023px) {
    .input {
        justify-content: space-evenly;
    }
}

.input--text__field { 
    border: none;

    width: 80%;
    height: 35px;
    color: #000;
    border-radius: 20px;
    background: #ececec;
    box-shadow:  5px 5px 10px #a3a3a3, 
             -5px -5px 10px #ffffff;
    outline: none;

    padding: 5px;
}

.input--search__button {
    border: none;

    margin-left: 5px;
    width: 40px;
    height: 40px;
    -webkit-appearance: none;
    
    outline: none;
    border-radius: 20px;
    background: #ececec;
    box-shadow:  5px 5px 10px #a3a3a3, -5px -5px 10px #ffffff;
}

.input--search__button:hover {
    border-radius: 20px;
    background: #ececec;
    box-shadow: inset 12px 12px 16px #a0a0a0, 
            inset -12px -12px 16px #ffffff;
}