.navbar {
    display: none;
}

.landscape--listBtn, .landscape--menuBtn, .landscape--musicBtn, .landscape--searchBtn {
    display: none;
}

@media only screen and (orientation: landscape) and (max-width: 1023px) {
    .makeStyles-paper-2 {
        height: calc(100vh - 2.9rem) !important;
    }

    .landscape--musicBtn {
        display: flex;
        justify-content: center;
        position: fixed;
        top: 1px;
        left: 50%;
        z-index: 1200;
        width: 1.8rem;
        height: 1.8rem;
        margin: 10px;
        
        border-radius: 20px;
        background: #ececec;
        box-shadow:  5px 5px 10px #a3a3a3, 
                    -5px -5px 10px #ffffff;
    }

    .landscape--listBtn {
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 1200;
        width: 1.8rem;
        height: 1.8rem;
        margin: 10px;
        
        border-radius: 20px;
        background: #ececec;
        box-shadow:  5px 5px 10px #a3a3a3, 
                    -5px -5px 10px #ffffff;

    }

    .landscape--menuBtn {
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 1200;
        width: 1.8rem;
        height: 1.8rem;
        margin: 10px;
        
        border-radius: 20px;
        background: #ececec;
        box-shadow:  5px 5px 10px #a3a3a3, 
                    -5px -5px 10px #ffffff;
    }

    .landscape--searchBtn {
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 0;
        left: 50%;
        z-index: 1200;
        width: 1.8rem;
        height: 1.8rem;
        margin: 10px;
        
        border-radius: 20px;
        background: #ececec;
        box-shadow:  5px 5px 10px #a3a3a3, 
                    -5px -5px 10px #ffffff;
    }
}

@media only screen and (orientation: portrait) and (max-width: 1023px) {
    .navbar{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 3rem;
        position: fixed;
        bottom: 11px;

        background: #ececec;
        box-shadow:  20px 20px 60px #c9c9c9, 
                    -20px -20px 60px #ffffff;
    }

    .navbar__navigation{
        display: flex;
        height: 100%;
        align-items: center;
        padding: 0 1rem;
    }

    .navbar__logo{
        margin-left: 1rem;
        color: white;
        font-size: 1.5rem;
    }

    .navbar_navigation-items {
        margin: 0 auto;
        padding: 0;
    }

    .MuiDrawer-paper {
        background: #ececec !important; 
    }

    @media only screen and (max-width: 1024px){
        .navbar {
            bottom: 0;
            left: 0;
        }
        .navbarToggleButton{
            padding: 5px;
            border-radius: 25px;
            background: #ececec;
            box-shadow:  5px 5px 10px #a3a3a3, 
                        -5px -5px 10px #ffffff;
        }

        .navbar__logo{
            display: none;
        }
    }

    @media only screen and (min-width: 1025px){
        .navbar {
            top: 0
        }
        .navbarToggleButton{
            display: none;
        }

        .navbar__logo{
            margin-left: 0;
        }
    }
}