.swiper { 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    border-radius: 3rem;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    
    color:#000;
    margin-left: 0;
    padding: 0;

    cursor: pointer;
}   

.swiper-container {
    width: 100%;
    height: 19rem;

    overflow: hidden;
    padding: 3em 0;
    border-radius: 10px;
}

.swiper-slide {
    margin: 10px;
    width: 40%;
    max-width: 300px;
    height: calc(100% - 50px);

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    font-size: 20px;
    align-items: center;
    /*height: 90%;*/
    color: black;
    
    padding: 10px;
    border-radius: 20px;
    background: #ececec;
    box-shadow:  5px 5px 10px #a3a3a3, 
             -5px -5px 10px #ffffff;
}

.swiper-slide img {
    width: 13rem;
    height: 12rem;
}

@media only screen and (max-width: 375px) {
    .swiper-container {
        height: 13rem;
    }

    .swiper-slide {
        width: 8rem !important;
    }

    .swiper-slide img {
        display: inline-block;
        width: 80%;
        height: 80%;
    }
}

@media only screen and (max-width: 1024px) {
    .swiper-slide {
        width: 10rem;
    }

    .swiper-slide img {
        display: inline-block;
        width: 100%;
        height: 100%;
    }
}