.main{
    margin: 0;
}

.mainSection{
    display: flex;
    flex-direction: row;
}

.leftPane{
    display: flex;
    min-width: 165px;
    max-height: 32em;
    margin: 1em 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.centerPane{
    max-width: 60em;
    max-height: 19em;
    padding: 10px;
    margin: 1em 1em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    flex:2;
    flex-flow: column;
    justify-content: space-between;
}

.rightPane{
    display: flex;
    width: 100%;
    margin: 1em 0;
    max-height: 32em;
    overflow-y: scroll;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}