body {
    background: linear-gradient(#00c9ff, #92fe9d);
    background: -webkit-linear-gradient(to right, #00c9ff, #92fe9d);
    background: linear-gradient(to right,#00c9ff, #92fe9d);
       
}

.main{
    margin-top: 64px;
}

.text-header {
    display: none;
}

.mainSection{
    display: flex;
    flex-direction: row;
}

.leftPane{
    display: flex;
    min-width: 165px;
    max-height: 32em;
    margin: 1em 0;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.centerPane{
    min-width: 20%;
    max-height: 19em;
    padding: 10px;
    margin: 1em;
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
    background: transparent;
    flex:2;
    flex-flow: column;
    justify-content: space-between;
}

.rightPane{
    display: flex;
    margin: 1em 0;
    max-height: 32em;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

@media (min-width: 320px) and (max-width: 479px){   
    
}

@media only screen and (max-width: 480px) { 
    .centerPane {
        min-width: 20%;
        margin-bottom: 15rem;
    }
}

@media only screen and (max-width: 1024px){

    .main{
        /* margin-top: 0; */
        flex: 1;
        justify-content: space-evenly;
        height: 399px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    .mainSection {
        flex: 1;
        justify-content: space-evenly;
        height: 399px;
        overflow: hidden;
    }

    .centerPane {
        min-width: 20%;
    }
    
    .text-header {
        margin-top: 0;
        display: flex;
        justify-content: center;
        color: white;
        font-weight: 300;
    }

    .leftPane{
        display: none;
    }

    .rightPane{
        display: none;
    }

    body {
        background: linear-gradient(#00c9ff, #92fe9d);
        background: -webkit-linear-gradient(to right, #00c9ff, #92fe9d);
        background: linear-gradient(to right,#00c9ff, #92fe9d);
           
    }
}