.player {
    background: transparent;
    display: flex;
    justify-content: center;
    /*margin-top: 2em;*/
    flex-flow: column;
    padding: 10px;
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
    border-radius: 10px;
}

.progress-time {
    display: flex;
    align-items: center;
    justify-content: center;
}

.noFav{
    font-size: 30px;
    margin: 2px 6px;
}
.heart {
    font-size: 30px;
    color: red;
    margin: 2px 6px;
}

.text {
    display: flex;
    justify-content: center;
}

.progressBar {
    display: block;
    margin: 2em auto;
    width: 50%;
    height: 2px;
    background-color: #AAA;
    border-radius: 10px;
    box-shadow: inset 0 0 5px #AAA;
}

span{
    display: block; 
    float: right;
}

.btn-container{
    display: block;
    float: left;
    margin: auto;
}

.icon-container {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: orange;
    margin: 8px;
    float: left;
}

.position-left{
    margin: 10px;
}

.icon-container__center {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: orange;
    margin: 1px;
    float: left;
    font-size: 35px; 
    color: white;
}

.position-center{
    margin-left: 30%;
    margin-top: 20%;
    font-size: 35px;
    color: white;
}

.position-right{
    margin: 10px;
    padding-left: 5px;
}

@media (min-width: 320px) and (max-width: 1024px){
    .player{
        bottom: 0;
        left: 0;
        margin: 3rem 0;
        width: 100%;
        position: fixed;
    }
}

/*@media (max-width: 480px) { 
    .player{
        left: 0;
        margin: 3rem 0;
        width: 100%;
        position: fixed;
    }
} */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
}
    
/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
}

input[type="range"] {
    margin-left: 5px;
}