li{
    list-style: none;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.tab{
    display: block;
    margin: 5px 0;
    width: 100%;
    text-align: left;
    padding: 2px;
    transition: 0.3s;
}